#acharoladas{
    background:url(../images/acharoladas/acharoladas_small.jpg) no-repeat center right;
}

#microperforada{
    background:url(../images/microperforadas/microperforadas.jpg) no-repeat center right;
}

#matelaseadas{
	background:url(../images/matelaseadas/matelaseadas_small.jpg) no-repeat center right;
}

#estrelladas{
    background: url(../images/estrelladas/estrelladas_small.jpg) no-repeat center right;
}