section{
    position: relative;
}

#mapa{
    width: 220px;

}

#contacto{

	width:200px;
	padding-top:20px;
	color:white;
    text-align:right;

}

	#contacto p{

		margin:0px 0px;
		padding: 10px 10px;
		background-color:#10069f;
		border-radius:50px;
	}

	#wsp{
		background:url(../images/logos/whatsapp.png) center left no-repeat;
		background-position:7px 4px;
	}	


	#telefono{
		background:url(../images/logos/tel.png) center left no-repeat;
		background-position:5px 4px;
	}
	
	#correo{
		background:url(../images/logos/men.png) center left no-repeat;
		background-position:5px 4px;
    }
    

#form{
    width: 500px;  
    position: absolute;
    top:50px;
    left:400px;
    font-size: 20px;   
}
    
    #form input,#form textarea{
            
        background-color: white; 
    }

    #form li{
        margin:20px 0px;
        list-style: none;
    }
    
    #button{
        background-image: linear-gradient(#e3e8ef,#fff);
        border:1px solid #d9dde2;
        font-family: "CaviarDreams";
        font-size:16px;
        width: 200px;
        height: 30px;
        color:grey;
        border-radius:50px;
    }
    
        #button:hover{
            background-image: linear-gradient(#fff,#e3e8ef);
            border:1px solid #c8cbce;
            cursor:pointer;
        }